/utils/ui/vosk-model-pt-fb-v0.1.1-pruned/
/utils/ui/vosk-model-small-en-us-0.15/
/utils/ui/vosk-model-small-en-us-0.15-OLD/
/exoskeleton/robots/
/portfolio
/exoskeleton/config/test_config1.txt
/exoskeleton/config/test_config2.txt
/.idea/