/utils/ui/vosk-model-pt-fb-v0.1.1-pruned/
/utils/ui/vosk-model-small-en-us-0.15/
/utils/ui/vosk-model-small-en-us-0.15-OLD/
/exoskeleton/robots/
/portfolio
/exoskeleton/config/
/exoskeleton/config/
/.idea/
/venv/
__pycache__/
*.py[cod]
*$py.class