<robot name="shoulder_bot" version="1.0">
    <klampt>
        <default_mass=1/>
        <default_inertia=1/>
        <link name="x" physical=0/>
        <link name="y" physical=0/>
        <link name="z" physical=0/>
        <link name="pitch" physical=0/>
        <link name="roll" physical=0/>
        <link name="yaw" physical=0/>

        <link name="root" physical=1/>

    </klampt>
    </robot>